.menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #444444;
	text-decoration: none;
}
.line {
	font-size: 12pt;
	color: #999999;
	letter-spacing: 2px;
}
.menu:hover {
	position:relative;
	top:1px;
	left:1px;
    font-size: 10pt;
	color: #CC0033;
	text-decoration: none;
	font-weight: bold;
}
.a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333333;
	text-decoration: none;
}
.menu:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #CCCCCC;
	text-decoration: none;
}

.pic:hover {
	position:relative;
	top:1px;
	left:1px;

}
